:root {
    --color-1: #F5DACF;
    --color-2: #d98b5b;
    --color-3: #6F3317;
    --color-4: #45423D;
}

body{
    background-color: var(--color-2);
}
#leaderboard-table-head{
    font-family: Rye;
    background-color: var(--color-4);
    margin-top: 30vh;
}
#game-invite {
    visibility: hidden;
    position: absolute;
}