body {
    font-family: Rye;
}

.container{
    margin:auto;
}
/* .turn-text{
    text-align: center;
}
.item-text{
    text-align: center;
} */
.player-icon{
    text-align: center;
}
.shapeImage{
    height: auto;
    width:75%;
    z-index: -100;
}
.table-block{
    width: 100px;
    height: 100px;
    color: black;
    font-size: 3em;
    font-weight: bold;
    line-height: 50px;
    border: solid 1px black;
    text-align: center;
  }

  .ml4 {
    position: absolute;
    font-weight: 900;
    font-size: 2em;
    width:10vw;
    height: 10vh;
    left: 50vw;
    top: 50vh;
    transform: translateX(-50%), translateY(-50%);
  }
.alertbox{
    position: relative;
    width: auto;
    height: auto;
    top: 0vh;
    left: 0vw;

}