:root {
    --color-1: #F5DACF;
    --color-2: #d98b5b;
    --color-3: #6F3317;
    --color-4: #45423D;
}

body{
    font-family: Rye;
    background-color: linear-gradient(#ffde59,#ff914d);
    background-image:url('images/menu_bg.png');
    background-position: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: url("images/cursor_hand.png") 3 1, auto;
    overflow: hidden;
}
body:active{
    cursor: url("images/cursor_hand.png") 10 0, auto;
}

.container{
    height: 100vh;
    text-align: center;
}
.flex-column{
    height: 100vh;
    gap:2%;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.box{
    position:relative;
    background-image:url('images/btn_bg.png');
    background-position: center;
    background-size: auto;
    padding: 1%;
    border: 3px solid #45423D;
    border-radius: 8%;
    width: 20%;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: auto;
    text-align: center;
    box-shadow:1px -2px 5px black;
}
.box:hover{
    background-color: #ff911c;
    color: white;
}

.gameTitle{
    font-size: 5em;
    animation: fontcolor 15s infinite;
}

@keyframes fontcolor{
    0% {color:#000;}
    25% {color: #241207;}
    50% {color: #db2b2b;}
    75% {color: #241207;}
    100% {color: #000;}

}

@media screen and (max-width: 626px) {
    .gameTitle{
        font-size: 3.5em;
    }
}


@media screen and (max-width: 595px) {
    .box{
        width: 50%;
    }
    .gameTitle{
        font-size: 3em;
    }
 
}