:root {
    --color-1: #F5DACF;
    --color-2: #d98b5b;
    --color-3: #6F3317;
    --color-4: #45423D;
}

body{
    font-family: Rye;
    background-color: var(--color-2);
    background-image: linear-gradient(to bottom, #ffaf2f, #f5b76b, #7c684658);
    background-blend-mode: overlay;
    cursor: url("images/cursor_hand.png") 3 1, auto;
}
#game-invite {
    visibility: hidden;
    position: absolute;
}
.container{
    height: 100vh;
    text-align: center;
}
.flex-column{
    height: 100vh;
    gap:2%;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.box{
    position:relative;
    background-color: #F5DACF;
    padding: 1%;
    border: 3px solid black;
    border-radius: 8%;
    width: fit-content;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: auto;
    text-align: center;
}
.box:hover{
    background-color: #ff911c;
}